includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

parameters:
    level: 5
    paths:
        - src
        - test
    ignoreErrors:
        - '#Unsafe usage of new static\(\)#'
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: false
    autoload_files:
        - vendor/autoload.php
